@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  color: #666666;
  gap: 16px;
}

.right-links{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  gap: 16px;
}

a{
  color: #666666;
  text-decoration: none;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  height: 32px;
  font-weight: 600;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer{
  display: flex;
  background-color: #aaaaaa;
  justify-content: space-between;
  padding: 16px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}