body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px;
  font-size: 16px;
  display: block;
}

.title {
  padding: 8px;
  background: #e3f4ff;
}

.content {
  padding: 8px;
  background: #e3f4ff;
  margin-bottom: 16px;
}

.button-container {
  padding: 8px;
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 16px;
}